# ansible-cert-renewal-demo/terraform/vms/aap-cloud-init.tftpl
# This is a Terraform template file for Cloud-init
MIME-Version: 1.0
Content-Type: multipart/mixed; boundary="MIMEBOUNDARY"

--MIMEBOUNDARY
Content-Type: text/cloud-config; charset="utf-8"
Content-Transfer-Encoding: base64

${base64encode(file("${module_path}/aap-cloud-init.yaml"))}
--MIMEBOUNDARY--
